.footer {
  &__container {
    background: #a04955;
    @media (max-width: 1370px) {
      padding: 0 15px;
    }
  }

  &__row {
    max-width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    @media (max-width: $md2) {
      flex-wrap: wrap;
      padding: 40px 0;
    }
    @media (max-width: $md4) {
      flex-direction: column;
    }
  }

  &__column {
    @media (max-width: 1140px) {
      padding: 0 5px 0 0;
      &:last-child {
        padding: 0;
      }
    }
    @media (max-width: $md2) {
      &:nth-child(1) {
        flex: 1 1 33.3%;
        padding: 0 0 30px 0;
      }
      &:nth-child(2) {
        flex: 1 1 33.3%;
        padding: 0;
      }
      &:nth-child(3) {
        flex: 1 1 33.3%;
        padding: 0;
      }
    }
    @media (max-width: $md3) {
      &:nth-child(1) {
        flex: 1 1 50%;
      }
      &:nth-child(2) {
        flex: 1 1 50%;
      }
      &:nth-child(3) {
        padding: 0 0 30px 0;
      }
    }
    @media (max-width: $md4) {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        padding: 0 0 20px 0;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 44px;
    color: #ffffff;
  }

  &__link {
    align-self: flex-start;
    font-family: $oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #ffffff;
    transition: all 0.5s ease 0s;
    &:hover {
      color: #000000;
    }
  }

  &__text {
    font-family: $oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #ffffff;
  }

  &__signup {
    padding: 0 0 32px 0;
    @media (max-width: $md2) {
      padding: 0 0 15px 0;
    }
  }

  &__email {
    padding: 20px 0 0 0;
    max-width: 515px;
    position: relative;
    @media (max-width: $md2) {
      padding: 10px 0 0 0;
    }
  }

  &__btn {
    background: #a04955;
    position: absolute;
    top: 36%;
    right: 2%;
    span {
      display: inline-block;
      font-family: $oswald;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 180.8%;
      color: #f3f3f3;
      padding: 5px 45px;
      @media (max-width: 360px) {
        padding: 5px 30px;
      }
    }
    transition: all 0.5s ease 0s;
    &:hover {
      background: #000;
    }
    @media (max-width: $md2) {
      top: 28%;
    }
  }

  &__copyright {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px 0;
    font-family: $oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    color: rgba(0, 0, 0, 0.5);
    @media (max-width: 1370px) {
      padding: 10px 15px;
    }
  }
}

input[type="email"] {
  background: #f3f3f3;
  width: 100%;
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 180.8%;
  color: #a04955;
  padding: 14px 0 14px 25px;
}
