.form {
  &__body {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #a04955;
    p {
      font-size: 48px;
      line-height: 71px;
      color: #333333;
    }
    padding: 0 0 14px 0;
  }

  &__subtitle {
    font-family: $oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #333333;
    padding: 0 0 44px 0;
    @media (max-width: 440px) {
      padding: 0 0 30px 0;
    }
  }

  &__stars-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    max-width: 493px;
    width: 100%;
    height: 53px;
    margin: 0 0 35px 0;
    @media (max-width: $md3) {
      max-width: 440px;
    }
    @media (max-width: 440px) {
      margin: 0 0 15px 0;
      max-width: 310px;
    }
    &_fit {
      margin: 0;
    }
  }

  &__stars-name {
    font-family: $oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
  }

  &__rating {
    font-size: 78px;
    @media (max-width: 440px) {
      font-size: 50px;
    }
  }

  &__rating-body {
    max-width: 323px;
    position: relative;
    &::before {
      content: "★★★★★";
    }
  }

  &__rating-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &::before {
      content: "★★★★★";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      color: #ffd300;
    }
    transition: all 0.3s ease 0s;
  }

  &__rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__rating-item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__rating-value {
    display: none;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    padding: 75px 0 25px 0;
    @media (max-width: $md3) {
      padding: 50px 0 20px 0;
      flex-direction: column;
    }
    @media (max-width: 440px) {
      padding: 30px 0 20px 0;
    }
  }

  &__box-item {
    &:first-child {
      max-width: 428px;
      @media (max-width: 1140px) {
        padding: 0 5px 0 0;
      }
      @media (max-width: $md3) {
        max-width: none;
        padding: 0 0 20px 0;
      }
    }
    &:last-child {
      max-width: 538px;
      @media (max-width: 1140px) {
        padding: 0 0 0 5px;
      }
      @media (max-width: $md3) {
        max-width: none;
        padding: 0 0 0 0;
      }
    }
    width: 100%;
  }

  &__item {
  }

  &__btn {
    background: #a04955;
    align-self: center;
    span {
      display: inline-block;
      font-family: $oswald;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
      padding: 7px 88px;
      @media (max-width: 370px) {
        padding: 7px 65px;
      }
    }
    margin: 25px 0 0 0;
    transition: all 0.5s ease 0s;
    &:hover {
      background: #000;
    }
    @media (max-width: $md4) {
      align-self: flex-start;
    }
  }
}

//#######################################################################################################
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  width: 100%;
  display: block;
  padding: 7px 20px;
  height: 40px;

  background: #fafafa;
  border: 1px solid #333333;

  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #333333;
  text-transform: uppercase;

  &::placeholder {
    opacity: 0.5;
  }
}
textarea.input {
  resize: vertical;
  height: 147px;
  padding: 7px 20px;
}

.error {
  border-left: 3px solid red;
}
